*{
    margin: 0;
    padding: 0;
} 

body{
     font-family: 'Raleway', sans-serif;
     background-color: #2D4059;
}
 
/*Logo*/
.img{
     margin-right: 700px;
}

/*Nav*/
.vinculo{
     list-style-type: none;
     text-decoration: none;
     font-size: 17px;
     color: #FFFF;
}

.vinculo:hover{
    font-weight: bolder;
    color: #ffd460;
}

#ulFlex{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     margin-top: 20px;
     margin-right: 90px;
}

#ulFlex li{
     padding: 0 1rem;
} 

/**/
.animate__animated.animate__backInLeft{
     font-family: 'Poppins', sans-serif;
     color: #f07b3f;
     font-size: 30px;
     font-weight: 700;
     animation-duration: 1s;
}

.titulo{
     color:#EA5455;
     font-size: 30px;
     font-weight: 700;
}

.titulo2{
     color: #FFFF;
     font-size: 30px;
     font-weight: 600;
}

.subtitulo{
     color: #FFFF;
     font-weight: 400;
}

h2{
     margin-top: 30px;
}

.formFlex{
     display: flex;
     flex-direction: column;
}

.formFlex1{
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.flex2{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.form{
     color: #FFFF;
}

.inputUno{
     margin-right: 30px;
}

.butn{
     background-color: #ffcb3d;
     border: none;
     font-weight: bold;
}

footer{
     margin-top: 20px;
     background-color: #182536;
     color: white;
     line-height: 2.0;
     text-align: center;
     display: flex;
     justify-content: center;
}

.footerTitle{
     margin-top: 10px;
     font-family: 'Poppins', sans-serif;
     color: #f07b3f;
     font-size: 30px;
     font-weight: 700;
} 

.rectangulo {
     width: 250px; 
     height: 100px; 
     background: #f07b3f;
}